__pycache__/
instance/
tester/
migrations/
requirements 2.txt
test.py
Procfile
gitignore
DS_Store


# Ignore not working source: https://stackoverflow.com/questions/25436312/gitignore-not-working
# git rm -rf --cached .
# git add .