{% extends "layout.html" %}

{% block body %}

<div class="makeaclubok">
    <div class="title">Create A Club Form</div>
    <form action="#" method="POST">
        <div class="userdetails">
            <div class="inputbox">
                <span class="details">Club Name <i class="fa-solid fa-star-of-life" id="clubname" style="color: #ff0000;"></i></span>
                <input type="text" placeholder="Club Name" name="clubname" required>
            </div>
            <div class="inputbox">
                <span class="details">President's Email <i class="fa-solid fa-star-of-life" id="presidentemail" style="color: #ff0000;"></i></span>
                <input type="text" placeholder="clubpresident@cpsd.us" name="presidentemail" required>
            </div>
            <div class="inputbox">
                <span class="details">Vice President's Email</span>
                <input type="text" placeholder="clubvicepresident@cpsd.us (if any)" name="vicepresidentemail1" >
            </div>
            <div class="inputbox">
                <span class="details">Vice President's Email</span>
                <input type="text" placeholder="clubvicepresident@cpsd.us (if any)" name="vicepresidentemail2">
            </div>
            <div class="inputbox">
                <span class="details">Vice President's Email</span>
                <input type="text" placeholder="clubvicepresident@cpsd.us (if any)" name="vicepresidentemail3">
            </div>
            <div class="inputbox">
                <span class="details">Advisor's Email <i class="fa-solid fa-star-of-life" id="advisoremail" style="color: #ff0000;"></i></span>
                <input type="text" placeholder="clubadvisor@cpsd.us" name="advisoremail" required>
            </div>
            <div class="inputbox">
                <span class="details">Room Number <i class="fa-solid fa-star-of-life" id="roomnumber" style="color: #ff0000;"></i></span>
                <input type="number" placeholder="Room Number" name="roomnumber" required>
            </div>
            <div class="inputbox">
                <span class="details">Club Start Time <i class="fa-solid fa-star-of-life" id="clubstarttime" style="color: #ff0000;"></i></span>
                <input type="time" placeholder="Start time" name="clubstarttime" required>
            </div>
            <div class="inputbox">
                <span class="details">Club Days <i class="fa-solid fa-star-of-life" id="clubdays" style="color: #ff0000;"></i></span>
                <!-- <input type="text" placeholder="What day(s) does your club meet?" name="clubdays" required> -->
                <div class="selectbutton">
                    <span class="buttontext">0 Selected</span>
                    <span class="arrowdwn"><i class="fa-solid fa-chevron-down"></i></span>
                </div>
                <ul class="selectdays">
                    <li class="day" id="Monday">
                        <span class="checkbox" id="monday">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="itemtext" id="monday">Monday</span>
                    </li>
                    <li class="day" id="Tuesday">
                        <span class="checkbox">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="itemtext">Tuesday</span>
                    </li>
                    <li class="day" id="Wednesday">
                        <span class="checkbox">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="itemtext">Wednesday</span>
                    </li>
                    <li class="day" id="Thursday">
                        <span class="checkbox">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="itemtext">Thursday</span>
                    </li>
                    <li class="day" id="Friday">
                        <span class="checkbox">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="itemtext">Friday</span>
                    </li>
                </ul>
            </div>
            <div class="inputbox">
                <span class="details">Club Description <i class="fa-solid fa-star-of-life" id="clubdescription" style="color: #ff0000;"></i></span>
                <textarea type="text" id="inputthedescription" placeholder="Brief description of club" name="clubdescription" required></textarea>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>

{% endblock %}