{% extends "layout.html" %}

{% block body %}

<div class="makeaclubok">
    <div class="title">Create A Club Form</div>
    <form action="#" method="POST">
        <div class="userdetails">
            <div class="inputbox">
                <span class="details">Club Name <i class="fa-solid fa-star-of-life" style="color: #ff0000;"></i></span>
                <input type="text" placeholder="Club Name" name="clubname" required>
            </div>
            <div class="inputbox">
                <span class="details">President's Email <i class="fa-solid fa-star-of-life" style="color: #ff0000;"></i></span>
                <input type="text" placeholder="clubpresident@cpsd.us" name="presidentemail" required>
            </div>
            <div class="inputbox">
                <span class="details">Vice President's Email</span>
                <input type="text" placeholder="clubvicepresident@cpsd.us (if any)" name="vicepresidentemail1" >
            </div>
            <div class="inputbox">
                <span class="details">Vice President's Email</span>
                <input type="text" placeholder="clubvicepresident@cpsd.us (if any)" name="vicepresidentemail2">
            </div>
            <div class="inputbox">
                <span class="details">Vice President's Email</span>
                <input type="text" placeholder="clubvicepresident@cpsd.us (if any)" name="vicepresidentemail3">
            </div>
            <div class="inputbox">
                <span class="details">Advisor's Email <i class="fa-solid fa-star-of-life" style="color: #ff0000;"></i></span>
                <input type="text" placeholder="clubadvisor@cpsd.us" name="advisoremail" required>
            </div>
            <div class="inputbox">
                <span class="details">Room Number <i class="fa-solid fa-star-of-life" style="color: #ff0000;"></i></span>
                <input type="number" placeholder="Room Number" name="roomnumber" required>
            </div>
            <div class="inputbox">
                <span class="details">Club Start Time <i class="fa-solid fa-star-of-life" style="color: #ff0000;"></i></span>
                <input type="time" placeholder="Start time" name="clubstarttime" required>
            </div>
            <div class="inputbox">
                <span class="details">Club Description <i class="fa-solid fa-star-of-life" style="color: #ff0000;"></i></span>
                <input type="text" id="inputthedescription" placeholder="Brief description of club" name="clubdescription" required>
            </div>
            <dialog class="createaclubrequiredmodal" id="createaclubrequiredmodal">
                <p>This field is required</p>
            </dialog>
        </div>
        <div class="button">
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>

{% endblock %}