{% extends "layout.html" %}

{% block title %} Find a Club {% endblock %}

{% block body %}

    <h1 id="main1">
        <center>Find a Club<br>
        </center>
        </h1>

        <!-- Search Bar: -->
        <div class="homescreennavcontainer">
            <div class="searchwrapperwrapper">
                <div class="searchwrapper">
                    <input type="search" id="search" name="q" placeholder="Search for a specific club" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target=".maincontainer">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <!-- <button class="connectclubbutton navlink" id="connecttoclubbutton"><a href="#" class="navlink" id="connecttoclubbutton">Verify Your Club </a></button> -->
            <!-- <button class="connectclubbutton navlink" id="connecttoclubbutton">Verify Your Club <i class="fa-solid fa-link"></i></button> -->
        </div>

        <br><br>

        <div class="maincontainer" id="maincontainer">
            {% include "clubcard.html" %}
        </div>

        {% endblock %}