{% extends "layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

<div class="center">
    <h1>Change Password</h1>
    <form method="POST" id="login-form">
    {% if stage == "email"%}
        <div class="txt_field">
            <input type="email" id="email" name="email" required>
            <label>Email</label>
        </div>
        <p>
            Follow the link in your email to change your password!
        </p>
        <input type="submit" value="Confirm">
    {% elif stage == "changepass" %}
        <input type="text" value="{{ id }}" name="id" hidden>
        <div class="txt_field">
            <input type="password" id="password" name="newpassword" required>
            <label>New Password (more than 8 characters)</label>
        </div>
        <div class="txt_field">
            <input type="password" id="confirm-password" name="confirm-newpassword" required>
            <label>Confirm New Password</label>
        </div>
        <input type="submit" value="Confirm New Password">
    {% endif %}
        <div class="signup_link">
        </div>
    </form>
</div>

{% endblock %}