<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> {% block title %}Clubs!{% endblock %} </title>
</head>
    <body>

        <!-- Loading Screen: -->
        <!-- <div class="loader">
            <div></div>
        </div> -->

        <!-- Main Nav Bar: -->
        <nav class="mainnav" id="mainnav">
            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul id="header" class="nav">
                <a class="navlink" href="/">Home <i class="fa-solid fa-house-user"></i></a>
                {% if user.is_authenticated %}
                    <!-- <li class="navlink"><a class="navlink" href="/clubs">My Clubs</a></li> -->
                    <a class="navlink" href="/createaclub">Register a Club <i class="fa-solid fa-pencil"></i></a>
                    <a href="https://github.com/Rehaan12345/clubfinder" class="navlink" target="_blank">View Github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="/logout" class="navlink">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                {% if user.is_leader %}
                    <a class="navlink" href="/clubdashboard">Club Dashboard <i class="fa-solid fa-desktop"></i></a>
                {% endif %}
                {% endif %}
            </ul>
            <ul id="header2" class="nav">
                {% if user.is_authenticated %} 
                <div id="loggedinasok">
                    <a class="navlink" id="loggedinas">{{ current_user.email }} <i class="fa-regular fa-id-badge"></i></a>
                </div>
                    <div class="dropdown" data-dropdown>
                        <!-- Dropdown: -->
                        <button class="navlink dropdownlink fa-regular fa-user" data-dropdown-button></button> 
                        <div class="dropdownmenu">
                            <div class="dropdownlinks">
                                <a class="navlink" href="/createaclub">Create a Club <i class="fa-solid fa-pencil"></i></a>
                                <a href="/admin" class="navlink">Admin Dashboard <i class="fa-solid fa-table-columns"></i></a>
                                <a href="https://github.com/Rehaan12345/clubfinder" class="navlink" target="_blank">View Github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                <a href="/logout" class="navlink">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <li class="navlink"><a class="navlink" href="/login">Login</a></li>
                    <li class="navlink"><a class="navlink" href="/signup">Signup</a></li>
                {% endif %}
            </ul>
        </nav>  

        <!-- <form class="colorpicker" action="">
            <fieldset>
                <legend class="visuallyhidden">Pick a color scheme</legend>
                <label class="visuallyhidden" for="BlackGreen">Black/Green</label>
                <input class="theme" type="radio" id="BlackGreen" name="theme">

                <label class="visuallyhidden" for="light">Light</label>
                <input class="theme" type="radio" id="light" name="theme">

                <label class="visuallyhidden" for="teal">teal</label>
                <input class="theme" type="radio" id="teal" name="theme">

                <label class="visuallyhidden" for="BlackBlue">Black/Blue</label>
                <input class="theme" type="radio" id="BlackBlue" name="theme">
            </fieldset>
        </form> -->

        <!-- Flash Messages (included in all pages): -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="alert show" id="flash"> 
                            <button class="btn-close">&times;</button>
                            <span class="msg">{{ message }}</span>
                        </div>
                    {% else %}
                        <div class="success show" id="flash">
                            <button class="btn-close">&times;</button>
                            <span class="msg"> {{ message }} </span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}

            <h1 id="main1">
                <center>ClubFinder <br>
                </center>
                </h1>

                <!-- Search Bar: -->
                <div class="homescreennavcontainer">
                    <div class="searchwrapperwrapper">
                        <div class="searchwrapper">
                            <!-- <label for="search">Search Clubs</label> -->
                            <input type="search" id="search" name="q" placeholder="Search a club or email" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target=".maincontainer">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <!-- <button class="connectclubbutton navlink" id="connecttoclubbutton"><a href="#" class="navlink" id="connecttoclubbutton">Verify Your Club </a></button> -->
                    <button class="connectclubbutton navlink" id="connecttoclubbutton">Verify Your Club <i class="fa-solid fa-link"></i></button>
                </div>

                <br><br>

                <!-- Connect to club modal: -->
                <dialog class="connecttoclub" id="connecttoclubmodal">
                    <div class="connecttoclubtitle">
                        <div class="header"><h1>Enter Club Password</h1></div> 
                        <button data-close-button id="clubclosebutton" class="clubclosebutton">&times;</button>
                    </div>
                    <div class="connecttoclubinputbox">
                        <form method="POST">
                            <input class="connecttoclubinput" type="number" name="connecttoclubnumber" required>
                            <input class="connecttoclubinput" id="connecttoclubsubmit" type="submit" value="Enter">
                        </form>
                    </div>
                </dialog>

                <!-- ______________________________________________________________ -->

            <!-- Filter By Buttons:
            <div class="homemenu">
                Filter By: 
                    <div>
                        <label>
                            <input method="GET" type="checkbox" id="clubsjoined" class="filter" value="checked">
                            <span class="filterbylist">Clubs Joined</span>
                        </label> 
                    </div>
                    <div>
                        <label>
                            <input method="GET" type="checkbox" id="clubsnotjoined" class="filter" value="checked">
                            <span class="filterbylist">Clubs Not Joined</span>
                        </label> 
                    </div>
                    <div>
                        <label>
                            <input method="GET" type="checkbox" id="morningclubs" class="filter" value="checked">
                            <span class="filterbylist">Morning Clubs</span>
                        </label>
                    </div> 
                    <div>
                        <label>
                            <input method="GET" type="checkbox" id="afternoonclubs" class="filter" value="checked">
                            <span class="filterbylist">Afternoon Clubs</span>
                        </label> 
                    </div> 
                </div> 
            </div> -->

            <!-- The Main Container (where the clubs are held): -->
            <div class="maincontainer" id="maincontainer"> 
                <!-- Clubs are added here: -->
                {% for club in club_info %}
                    <div class="club" id="{{ club.club_name }}1"> <!-- Card -->
                        <div class="clubcontent" id="content{{ club.id }}"> <!-- Card content -->
                            <div class="clubtitle" id="content{{ club.id }}">
                                {{ club.club_name }}{% if club in joined_clubs %} <i class="fa-solid fa-star"></i>{% endif %} {% if current_user.email == club.president_email or current_user.email == club.vicepresident_email1 or current_user.email == club.vicepresident_email2 or current_user.email == club.vicepresident_email3 %}<i class="fa-solid fa-crown"></i>{% endif %}
                            </div> <!-- Card title  -->
                            <br><br>
                            <!-- <button formTarget="#clubdesc_{{ club.id }}" class="clubbutton" id="viewclub" type="button">View More</button>  -->
                            <p class="shortdesc" id="content{{ club.id }}">
                                Club President: {{ club.president_email }}
                                <br><br>
                                Located in room {{ club.room_number }}, and starts at {{ club.start_time }} on {{ club.club_day }}.
                            </p> <!-- Card body -->
                            <!-- Modal: -->
                            <dialog class="clubdesc" id="clubdesc_{{ club.id }}">
                                <div class="clubdescheader">
                                    <div class="clubdescname">{{ club.club_name }}</div>
                                    <button data-close-button id="clubclosebutton_{{ club.id }}" class="clubclosebutton">&times;</button>
                                </div>
                                <div class="clubdescdesc" id="clubdescdesc{{ club.club_name }}">
                                    Club President: {{ club.president_email }}
                                     <br><br>
                                     {% if club.vicepresident_email1 or club.vicepresident_email2 or club.vicepresident_email3 %}
                                        Vice President{% if club.vicepresident_email1 and club.vicepresident_email2 %}s{% endif %}:
                                        {{ club.vicepresident_email1 }}<br/><br/>
                                     {% endif %}
                                     {% if club.vicepresident_email2 %}
                                        ,&nbsp;{{ club.vicepresident_email2 }}<br/><br/><br/>
                                     {% endif %}
                                     {% if club.vicepresident_email3 %}
                                        ,&nbsp;{{ club.vicepresident_email3 }}<br><br><br>
                                     {% endif %}
                                    Club Advisor: {{ club.advisor_email }}
                                    <br><br>
                                    Club Description: {{ club.description }}
                                    <br><br>
                                </div>
                            </dialog>
                            <!-- ^ End of Modal ^ -->
                            <br><br>
                            {% if club not in joined_clubs %}
                            <button method="GET" name="joinclubbutton_{{ club.id }}" class="clubbutton" id="joinclubbutton_{{ club.id }}" type="button">Join Club</button>
                            <br><br>
                            {% elif club in joined_clubs %}
                            <button method="GET" name="leaveclubbutton_{{ club.id }}" class="clubbutton" id="leaveclubbutton_{{ club.id }}" type="button">Leave Club</button> 
                            <br><br>
                            {% endif %}
                        </div>
                        
                    </div>

                {% endfor %}

            </div>

        {% endblock %}

    </body>
</html>