<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <title> {% block title %}Clubs{% endblock %} </title>
</head>
    <body> 

        <!-- Main Nav Bar: -->
        <nav id="mainnav">
            <ul id="header" class="nav">
                <li class="activeclick navlink"><a class="navlink" href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="navlink"><a class="navlink" href="/clubs">My Clubs</a></li>
                    <li class="navlink"><a class="navlink" href="/createaclub">Create a Club</a></li>
                {% if user.is_leader %}
                    <li class="navlink"><a class="navlink" href="/clubdashboard">Club Dashboard</a></li>
                {% endif %}
                {% endif %}
            </ul>
            <ul id="header" class="nav">
                {% if user.is_authenticated %} 
                <!--<div class="dropdown">
                    <li class="navlink" id="loggedinas">Profile
                        <div class="loggedinassubmenu">
                            <ul>
                                <li class="navlink">Logged in as {{ current_user.email }}</li>
                                <li><a class="navlink" href="/logout">Logout</a></li>
                                <li><a class="navlink" href="#">Login as a Club Leader</a></li>
                            </ul>
                        </div>
                    </li>
                </div> -->

                    <div class="dropdown" data-dropdown>
                        <button class="navlink dropdownlink" data-dropdown-button>Profile</button>
                        <div class="dropdownmenu">
                            <div class="dropdownlinks">
                                <a href="#" class="navlink">Logged in as {{ current_user.email }}</a>
                                <a href="#" class="navlink">Login as Club Leader</a>
                                <a href="/logout" class="navlink">Logout</a>
                            </div>
                        </div>
                    </div>
                    
                {% else %}
                    <li class="navlink"><a class="navlink" href="/login">Login</a></li>
                    <li class="navlink"><a class="navlink" href="/signup">Signup</a></li>
                {% endif %}
            </ul>
        </nav>  

        <form class="colorpicker" action="">
            <fieldset>
                <legend class="visuallyhidden">Pick a color scheme</legend>
                <label class="visuallyhidden" for="BlackGreen">Black/Green</label>
                <input class="theme" type="radio" id="BlackGreen" name="theme">

                <label class="visuallyhidden" for="light">Light</label>
                <input class="theme" type="radio" id="light" name="theme">

                <label class="visuallyhidden" for="teal">teal</label>
                <input class="theme" type="radio" id="teal" name="theme">

                <label class="visuallyhidden" for="BlackBlue">Black/Blue</label>
                <input class="theme" type="radio" id="BlackBlue" name="theme">
            </fieldset>
        </form>

        <!-- Flash Messages (included in all pages): -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="alert show" id="flash"> 
                            <button class="btn-close">&times;</button>
                            <span class="msg">{{ message }}</span>
                        </div>
                    {% else %}
                        <div class="success show" id="flash">
                            <button class="btn-close">&times;</button>
                            <span class="msg"> {{ message }} </span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}

            <h1 id="main1"><center>Clubs</center></h1>

            <!-- The Main Container (where the clubs are held): -->
            <div class="maincontainer" id="maincontainer"> 
                <!-- Clubs are added here: -->
                {% for club in club_info %}
                    <div class="club" id="{{ club.club_name }}1"> <!-- Card -->
                        <div class="clubcontent" id="{{ club.club_name }}"> <!-- Card content -->
                            <div class="clubtitle" id="{{ club.club_name }}1">{{ club.club_name }}</div> <!-- Card title  -->
                            <br><br>
                            <button formTarget="#clubdesc_{{ club.id }}" class="clubbutton" id="viewclub" type="button">View More</button> <!-- Button -->
                            <p class="shortdesc">
                                Club President: {{ club.president_email }}
                            </p> <!-- Card body -->
                            <!-- Modal: -->
                            <dialog class="clubdesc" id="clubdesc_{{ club.id }}">
                                <div class="clubdescheader">
                                    <div class="clubdescname">{{ club.club_name }}</div>
                                    <button data-close-button id="clubclosebutton_{{ club.id }}" class="clubclosebutton">&times;</button>
                                </div>
                                <div class="clubdescdesc" id="clubdescdesc{{ club.club_name }}">
                                    Club President: {{ club.president_email }}
                                    <br><br>
                                    {% if club.vicepresident_email1 %}Vice President{% if club.vicepresident_email1 and club.vicepresident_email2 %}s{% endif %}: {{ club.vicepresident_email1 }}{% endif %}{% if club.vicepresident_email2 %},&nbsp;{{ club.vicepresident_email2 }}{% endif %}{% if club.vicepresident_email3 %},&nbsp;{{ club.vicepresident_email3 }} {% endif %}
                                    <br><br> 
                                    Club Advisor: {{ club.advisor_email }}
                                    <br><br>
                                    Club Description: {{ club.description }}
                                    <br><br>
                                    {{ club.club_name }} is located in room {{ club.room_number }}, and starts at {{ club.start_time }}.
                                </div>
                            </dialog>
                            <!-- ^ End of Modal ^ -->
                            <br><br>
                            <button method="GET" name="joinclubbutton_{{ club.id }}" class="clubbutton" id="joinclubbutton_{{ club.id }}" type="button">Join Club</button>
                            <br><br>
                            <button method="GET" name="leaveclubbutton_{{ club.id }}" class="clubbutton" id="leaveclubbutton_{{ club.id }}" type="button">Leave Club</button> 
                        </div>
                        
                    </div>
                {% endfor %}
            </div>

        {% endblock %}

    </body>
</html>