{% extends "layout.html" %}

{% block title %} Register Your Club {% endblock %}

{% block body %}

<div class="makeaclubok">
    <div class="title">Register Your Club</div>
    <form action="#" method="POST">
        <div class="userdetails">
            <div class="userdetailsmain">
                <div class="inputbox">
                    {{ form.clubname.label(class="details") }}
                    {{ form.clubname }}
                </div>
                <div class="inputbox">
                    {{ form.presidentemail.label(class="details") }}
                    {{ form.presidentemail }}
                </div>
                <div class="inputbox">
                    {{ form.vicepresidentemail1.label(class="details") }}
                    {{ form.vicepresidentemail1 }}
                </div>
                <div class="inputbox">
                    {{ form.vicepresidentemail2.label(class="details") }}
                    {{ form.vicepresidentemail2 }}
                </div>
                <div class="inputbox">
                    {{ form.vicepresidentemail3.label(class="details") }}
                    {{ form.vicepresidentemail3 }}
                </div>
                <div class="inputbox">
                    {{ form.advisoremail.label(class="details") }}
                    {{ form.advisoremail }}
                </div>
                <div class="inputbox">
                    {{ form.roomnumber.label(class="details") }}
                    {{ form.roomnumber }}
                </div>
                <div class="inputbox">
                    {{ form.clubstarttime.label(class="details") }}
                    {{ form.clubstarttime }}
                </div>
            </div>
            <div class="inputbox">
                {{ form.clubday.label(class="details") }}
                <div class="clubdaysdaysdays">
                    {% for day in form.clubday %}
                    <div class="day">
                        {{ day }}
                        {{ day.label }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br><br><br><br>
            <div class="inputbox">
                {{ form.clubdescription.label(class="details") }}
                {{ form.clubdescription(id="inputthedescription") }}
            </div>
        </div>
        <div class="button">
            {{ form.submit(class="submitnewclubbutton", onclick="loading();") }}
        </div>
    </form>
</div>

{% endblock %}