{% extends "layout.html" %} 

{% block title %}Sign Up{% endblock %} 

{% block body %}

    <!-- <div class="center">
        <h1>Change Password</h1>
        <form method="POST" id="login-form">
            <div class="txt_field">
                <input type="email" id="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <label>Password (more than 8 characters)</label>
            </div>
            <div class="txt_field">
                <input type="password" id="confirm-password" name="confirm-password" required>
                <label>Confirm Password</label>
            </div>
            <input type="submit" value="Sign Up">
            <div class="signup_link">
            </div>
        </form>
    </div> -->

    <div class="wrapperwrapper">
        <div class="wrapper">
            <header>Signup Form</header>
            <form action="/signup" method="POST" class="loginform">
              <div class="field email">
                <div class="input-area">
                  {{ form.email }}
                  <i class="icon fas fa-envelope"></i>
                  <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Email can't be blank</div>
              </div>
              <div class="field password">
                <div class="input-area">
                  {{ form.password }}
                  <i class="icon fas fa-lock"></i>
                  <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Password can't be blank</div>
              </div>
              <div class="field password">
                <div class="input-area">
                  {{ form.confirm_password }}
                  <i class="icon fas fa-lock"></i>
                  <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Password can't be blank</div>
              </div>
              <div class="pass-txt"><a href="#">Forgot password?</a></div>
              {{ form.submit }}
            </form>
            <div class="sign-txt">Already have an account? <a href="/login">Log In</a></div>
          </div>
    </div>
    
{% endblock %}